<% title t(:usergroups) %>
<%= link_to BACK_TO+NBSP+t(:dashboard_for_user, :username => current_user.fullname), current_user %>
<h1><%= t(:usergroups)+NBSP+current_user.fullname-%></h1>

<%= usergroups_index(@usergroups) -%>


<p><%= link_to( CAN_OPEN+NBSP+"New Usergroup", new_usergroup_path) if permitted_to? :new, Usergroup.new %></p>
