<% title t(:your_messages) %>

<h1><%= t(:received_messages) -%></h1>
<% if @user.message_notifications.any? %>
  <%= render :partial => @user.message_notifications.map { |m| m.message } -%>
  <hr>
<% end %>

<h1><%= t(:sent_messages) -%></h1>
<%= render :partial => @user.messages -%>
