<% title t(:session_history)  %>
<p><%= link_to BACK_TO+NBSP+t(:dashboard), user_path(current_user) %></p>
<h1><%= t(:session_history) + ": " + current_user.fullname -%></h1>

<%= session_table(@notes)%>