/*
  TAKEN FROM RAILSCAST #160 by Rayen Bates
*/

body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  color: #434343;
  background-color: #003A54;
  min-width: 480px;
}
 
a img {
  border: none;
}
 
a {
  color: black;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
 
#page {
  margin: 0px;
  padding: 0px;
}

#container {
  width: 75%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  background-color: #FFF;
  padding: 20px 40px;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-top: solid 1px black;
  border-bottom: none;
}
 
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}
 
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
 
#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}
 
.clear {
  clear: both;
}
 
 
#articles h2 {
  font-size: 16px;
  margin-bottom: 2px;
}
 
#articles h2 .comments {
  font-size: 12px;
  font-weight: normal;
}
 
#articles .author {
  font-style: italic;
  color: #333;
}
 
#comments {
  font-size: 12px;
  background-color: #DDD;
  padding: 0 20px;
  border: solid 1px #333;
}
 
.comment {
  border-bottom: solid 1px #999;
  margin: 15px 0;
}
 
.comment .author_name {
  font-weight: bold;
}
 
.fieldWithErrors {
  display: inline;
}
 
#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
 
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}
 
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
 
#errorExplanation ul {
  margin: 2px 24px;
}
 
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
 



/*
  ADDED BY ANDREAS ALTENDORFER
*/
#height_filler {
  width: 75%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color: #FFF;
  padding: 20px 40px;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  border-top: none;
}

#user_nav {
  float: right;
  text-align: right;
  padding-top: 20px;
  font-size: 12px;
  line-height: 110%;
}

#copyright {
	text-align: center;
	width: 100%;
    font-size: 10px;
	color: white;
	text-align: center;
	padding-top: 5px;	
}

#copyright a {
    text-decoration: none;
	color: white;
}

#banner {
  color: white;
  width: 75%;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 40px;
  line-height: 80%;
  background: #aaa;
}

#usermenu {
  color: white;
  width: 75%;
  margin-bottom: 5px;
}

#usermenu a {
	color: white;
	text-decoration: none;
}

.posting_short {
	margin-bottom: 40px;
}

.posting {
	
}

.box_float_right {
	float: right; 
	font-size: 12px; 
	padding: 10px; 
	border: 1px dotted #AAA; 
	margin-left: 20px; 
	margin-bottom: 20px;
}

.title_text {
	margin-bottom: 0px;
}
.title_box {
	font-size: 10px;
	border: 1px solid #ccc;
	background: #E9F0FF;
	padding: 10px;
	padding-left: 0px;
	margin: 5px;
	margin-top: 0px;
	margin-left: 0px;
	overflow: auto;
}
.body_text {
	padding-left: 10px;
}

.small_link {
  font-size: 10px;	
}

.divider {
	border-bottom: 1px solid #aaa;
	width: 85%;
	margin-bottom: 5px;
}

.header_categories {
	font-size: 10px;
}

.user_menu {
	padding: 3px;
	display: inline;
}
.user_menu_selected_url {
	font-weight: bold;
	background: #444;
	color: #ddd;
	padding: 3px;
}