/*
  TAKEN FROM RAILSCAST #160 by Rayen Bates
*/

body {
  font-family: Verdana, Helvetica, Arial;
  background: #FEF4F0 url('/images/background.png') fixed repeat-x;
  min-width: 980px;
  font-size: 14px; color: #444;
}
 
a img {
  border: none;
}
 
a {
  color: #424242;
  text-decoration: none;
}

a:visited {
  color: #737373;
  text-decoration: none;	
}

a:hover {
	text-decoration: underline;
}

pre {
	padding: 20px;
	padding-top: 5px;
	border: 1px solid #444;
	background: #D2E0EF;
	overflow: auto;
	line-height: 120%;
	font-family: Monaco, Courier new, monospace;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}

H1 { font-size: 20px; }
H2 { font-size: 16px; }
H3 { font-size: 14px; }
H4 { font-size: 12px; }
H5 { font-size: 11px; }
H6 { font-size: 10px; }

P { font-size: 14px; color: #444; line-height: 180%;}

UL {

}

LI {
 
}

 
#page {
  margin: 0px;
  padding: 0px;
}

#container {
  width: 75%;
  margin-top: 0px;
  line-height: 175%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  background: #FFF;
  padding: 20px 40px;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-top: solid 1px #999;
  border-bottom: none;
}
 
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}
 
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
 
#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}
 
.clear {
  clear: both;
}
 
 
#articles h2 {
  font-size: 16px;
  margin-bottom: 2px;
}
 
#articles h2 .comments {
  font-size: 12px;
  font-weight: normal;
}
 
#articles .author {
  font-style: italic;
  color: #333;
}
 
#comments {
  font-size: 12px;
  background-color: #DDD;
  padding: 0 20px;
  border: solid 1px #333;
}
 
.comment {
  border-bottom: solid 1px #999;
  margin: 15px 0;
}
 
.comment .author_name {
  font-weight: bold;
}
 
.fieldWithErrors {
  display: inline;
}
 
#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
 
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}
 
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
 
#errorExplanation ul {
  margin: 2px 24px;
}
 
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
 

/*
  ADDED BY ANDREAS ALTENDORFER
*/
#height_filler {
  width: 75%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color: #FFF;
  background: #FFF;
  background-position: fixed;
  height: 85px;
  padding: 40px 40px 0px 40px;
  border: 1px solid black;
  border-top: none;
}

.copyright {
	background: url('/images/sitelogo.png') no-repeat right 10px;
}
.copyright,
.copyright p,
p#copyright,
#copyright {
	clear: both;
	text-align: center;
	width: 100%;
    font-size: 10px;
	color: #999;
	text-align: center;
	padding-top: 5px;	
}

#copyright a {
    text-decoration: none;
	color: #999;
}

#banner {
  color: white;
  width: 75%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 40px 0px 40px;
  background: #303030;
  height:120px;
  border: 1px solid black;
  border-bottom: none;
}

#banner a {
  color: white;	
}

#top_menus {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  background:  #303030;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#environment {
	font-size: 10px;
	padding: 0px;
	margin: 0px;
}

#page_title {
	color: white;
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
	font-size: 28px;
	height: 74px;
}

input#page_title {
	display: inline;
	height: 20px;
	padding:5px;
	margin: 0px;
	font-size: larger;
	font-weight: bold;
	color: black;
}

#page_title H1 {
	margin: 0px;
	font-size: 28px;
}

#page_description {
	margin-bottom: 10px;
}

#user_nav {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
  background: white;
  font-size: 12px;
  margin-top: 0px;
}

#user_display {
	width: 250px;
	float: right;
	text-align: right;
}

#usermenu {
  margin-bottom: 0px;
  display: inline;
}

#menufiller {
	display: inline;
}

#logged_in_menu {
	float: right;
    display: inline;
}


#rootmenu {
	padding: 10px;
	text-align: right;
	float:right;
	border: 1px solid #444;
	background: #FFEB83;
}

#vert_filler {
	display: inline;
}

.posting_short {
	margin-bottom: 5px;
}

.posting {
	margin-bottom: 25px;
}

.box_float_right {
	float: right; 
	font-size: 12px; 
	padding: 10px; 
	border: 1px dotted #AAA; 
	margin-left: 20px; 
	margin-bottom: 20px;
}

.title_text {
	margin-bottom: 0px;
}
.title_box {
	font-size: 10px;
	border: 1px solid #ccc;
	background: #f6f6f6;
	padding: 5px;
	line-height: normal;
	padding-left: 0px;
	margin: 5px;
	margin-top: 20px;
	margin-left: 0px;
	width: 300px;
	float: right;
}
.body_text {
	padding-left: 10px;
}

.small_link {
  font-size: 10px;	
}

.divider {
	border-bottom: 1px solid #aaa;
	width: 85%;
	margin-bottom: 5px;
}

.header_categories {
	font-size: 10px;
}

.user_menu {
	padding: 5px;
}

.user_menu_selected_url {
	display: inline;
	background: white;
	font-weight: normal;
	color: black;
	padding: 4px;
    border-top: 2px solid #888;
    border-left: 2px solid #bbb;
    border-right: 2px solid #444;
    border-bottom: 2px solid #fff;
}

.user_menu_unselected_url {
	display: inline;
	font-weight: normal;
	color: black;
	background: #CACDC1;
	padding: 5px;
    border-right: 1px solid #888;
    border-left: 1px solid #666;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

a:hover   {
  text-decoration: underline;w
}

.user_menu_selected_url a:hover,
.user_menu_unselected_url a:hover  {
	background: #003A54;
	color: white;
	margin: -4px;
    padding: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;
}

.horiz_break {
	margin-bottom: 10px;
	border-top: 1px solid #ddd;
	padding: 10px;
	overflow: hidden;
}

.form_left_500 {
	width: 450px;
}

#ajax_busy {
	position: absolute;
	z-index: 10;
	opacity: 1;
	width: 100%;
	font-size: 22px;
	height: 85px;
	top: 0; left: 0;
    margin: 0;
	background: #2F2F2F;
	color: #ECECEC;
	padding: 20px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	border-bottom: 10px solid #444;
}

#ajax_msg {
	display: inline;
}

#fader {
	margin:0;
	z-index: 1;
}

.user_profile_right {
    float: right; 
    width: 400px; 
    clear: right;
    margin-left: 10px;
    padding-left: 20px;
}

.inline_friend_display {
	padding: 5px;
}