/*
  TAKEN FROM RAILSCAST #160 by Rayen Bates
*/
  
body {
  font-family: Verdana, Helvetica, Arial;
  background: #FEF4F0 url('/images/background.png') fixed repeat-x;
  min-width: 980px;
  font-size: 14px; color: #444;
}
  
a img {
  border: none;
}
  
a {
  color: #424242;
  text-decoration: none;
}
  
a:visited {
  color: #737373;
  text-decoration: none;	
}
  
a:hover {
  text-decoration: underline;
}
  
pre {
  padding: 20px;
  padding-top: 5px;
  border: 1px solid #444;
  background: #D2E0EF;
  overflow: auto;
  line-height: 120%;
  font-family: Monaco, Courier new, monospace;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

H1 { font-size: 20px; }
H2 { font-size: 16px; }
H3 { font-size: 14px; }
H4 { font-size: 12px; }
H5 { font-size: 11px; }
H6 { font-size: 10px; }
P { font-size: 14px; color: #444; line-height: 180%;}
UL {
}
LI {
}


#page {
  margin: 0px;
  padding: 0px;
}

#container {
  width: 900px;
  margin-top: 0px;
  line-height: 175%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  background: #FFF;
  padding: 20px 40px;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-top: solid 1px #999;
  border-bottom: none;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}

#articles h2 {
  font-size: 16px;
  margin-bottom: 2px;
}

#articles h2 .comments {
  font-size: 12px;
  font-weight: normal;
}

#articles .author {
  font-style: italic;
  color: #333;
}

#comments {
  font-size: 12px;
  background-color: #DDD;
  padding: 0 20px;
  border: solid 1px #333;
}

.comment {
  border-bottom: solid 1px #999;
  margin: 15px 0;
}

.comment .author_name {
  font-weight: bold;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
  /*
  ADDED BY ANDREAS ALTENDORFER
*/
#height_filler {
  width: 900px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color: #FFF;
  background: #FFF;
  background-position: fixed;
  height: 85px;
  padding: 40px 40px 0px 40px;
  border: 1px solid black;
  border-top: none;
}

.copyright {
  background: url('/images/sitelogo.png') no-repeat right 10px;
}
.copyright,
.copyright p,
p#copyright,
#copyright {
  clear: both;
  text-align: center;
  width: 100%;
  font-size: 10px;
  color: #999;
  text-align: center;
  padding-top: 5px;	
}

#copyright a {
  text-decoration: none;
  color: #999;
}

#bannertop {
  color: red;
  width: 982px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  border: none;
  text-align: center;
	
}

#bannertop-left {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  background: url('/images/corner_top_left.png') no-repeat;
  margin-right: auto;
  width: 972px;
  height: 10px;	
}


#bannertop-right {
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background: url('/images/corner_top_right.png') no-repeat;
  width: 10px;
  height: 10px;	
}

#banner {
  clear: both;
  color: white;
  width: 900px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 40px 0px 40px;
  background: url('/images/banner_background.png');
  height: 140px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: none;
}

#banner a {
  color: white;	
}

#environment a,
#environment {
  color: white;
  display: inline;
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}



#top_menus {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  background: #303030;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#page_title {
  color: white;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  font-size: 28px;
  height: 74px;
}
  input#page_title {
  display: inline;
  height: 20px;
  padding:5px;
  margin: 0px;
  font-size: larger;
  font-weight: bold;
  color: black;
}

#page_title H1 {
  margin: 0px;
  font-size: 28px;
}

#page_description {
  margin-bottom: 10px;
}

#user_nav {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
  background: white;
  font-size: 12px;
  margin-top: 0px;
}

#user_display {
  width: 250px;
  float: right;
  text-align: right;
}

#usermenu {
  margin-bottom: 0px;
  display: inline;
}

#menufiller {
  display: inline;
}

#logged_in_menu {
  float: right;
  display: inline;
}

#rootmenu {
  padding: 10px;
  text-align: right;
  float:right;
/*
  border-left:  1px dotted #444;
  border-bottom:  1px dotted #444;
  background: #ddd;
*/
}

#vert_filler {
  display: inline;
}

.posting_short {
  margin-bottom: 5px;
}

.posting {
  margin-bottom: 25px;
}

.box_float_right {
  float: right; 
  font-size: 12px; 
  padding: 10px; 
  /*border-left: 1px dotted #AAA; */
  margin-left: 20px; 
  margin-bottom: 20px;
}

.box_tiny,
.box_tiny p {
  font-size: 10px; 
  padding-left: 20px; 
}

.title_text {
  margin-bottom: 0px;
}
.title_box {
  font-size: 10px;
  border: 1px solid #ccc;
  background: #f6f6f6;
  padding: 5px;
  line-height: normal;
  padding-left: 0px;
  margin: 5px;
  margin-top: 20px;
  margin-left: 0px;
  width: 300px;
  float: right;
}
.body_text {
  padding-left: 10px;
}

.small_link {
  font-size: 10px;	
}

.divider {
  border-bottom: 1px solid #aaa;
  width: 85%;
  margin-bottom: 5px;
}

.header_categories {
  font-size: 10px;
}

.user_menu {
  padding: 5px;
}

.user_menu_selected_url {
  display: inline;
  background: white;
  font-weight: normal;
  color: black;
  padding: 4px;
  border-top: 2px solid #888;
  border-left: 2px solid #bbb;
  border-right: 2px solid #444;
  border-bottom: 2px solid #fff;
}

.user_menu_unselected_url {
  display: inline;
  font-weight: normal;
  color: black;
  background: #CACDC1;
  padding: 5px;
  border-right: 1px solid #888;
  border-left: 1px solid #666;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
  a:hover   {
  text-decoration: underline;w
}

.user_menu_selected_url a:hover,
.user_menu_unselected_url a:hover  {
  background: #003A54;
  color: white;
  margin: -4px;
  padding: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
}

.horiz_break {
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
  padding: 10px;
  overflow: hidden;
}

.form_left_500 {
  width: 450px;
}

#ajax_busy {
  position: absolute;
  z-index: 10;
  opacity: 1;
  width: 75%;
  font-size: 22px;
  height: 35px;
  top: 0; left: 0;
  margin: 0;
  background: #2F2F2F;
  color: #ECECEC;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  border-bottom: 10px solid #444;
}

#ajax_msg {
  display: inline;
}


#fader {
  margin:0;
  z-index: 1;
}

.user_profile_right {
  float: right; 
  width: 400px; 
  clear: right;
  margin-left: 10px;
  padding-left: 20px;
}

.inline_friend_display {
  padding: 5px;
}



/* -------------------------------------------------------------------------------------------------

It's *strongly* suggested that you don't modify this file.  Instead, load a new stylesheet after
this one in your layouts (eg formtastic_changes.css) and override the styles to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

This stylesheet forms part of the Formtastic Rails Plugin
(c) 2008 Justin French

--------------------------------------------------------------------------------------------------*/


/* NORMALIZE AND RESET - obviously inspired by Yahoo's reset.css, but scoped to just form.formtastic
--------------------------------------------------------------------------------------------------*/
form.formtastic, form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p { margin:0; padding:0; }
form.formtastic fieldset { border:0; }
form.formtastic em, form.formtastic strong { font-style:normal; font-weight:normal; }
form.formtastic ol, form.formtastic ul { list-style:none; }
form.formtastic abbr, form.formtastic acronym { border:0; font-variant:normal; }
form.formtastic input, form.formtastic textarea, form.formtastic select { font-family:inherit; font-size:inherit; font-weight:inherit; }
form.formtastic input, form.formtastic textarea, form.formtastic select { font-size:100%; }
form.formtastic legend { color:#000; }


/* FIELDSETS & LISTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset { }
form.formtastic fieldset.inputs { }
form.formtastic fieldset.buttons { padding-left:25%; }
form.formtastic fieldset ol { }
form.formtastic fieldset.buttons li { float:left; padding-right:0.5em; }

/* clearfixing the fieldsets */
form.formtastic fieldset { display: inline-block; }
form.formtastic fieldset:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
html[xmlns] form.formtastic fieldset { display: block; }
* html form.formtastic fieldset { height: 1%; }


/* INPUT LIs
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li { margin-bottom:1.5em; }

/* clearfixing the li's */
form.formtastic fieldset ol li { display: inline-block; }
form.formtastic fieldset ol li:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
html[xmlns] form.formtastic fieldset ol li { display: block; }
* html form.formtastic fieldset ol li { height: 1%; }

form.formtastic fieldset ol li.required { }
form.formtastic fieldset ol li.optional { }
form.formtastic fieldset ol li.error { }
  

/* LABELS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li label { display:block; width:25%; float:left; padding-top:.2em; }
form.formtastic fieldset ol li li label { line-height:100%; padding-top:0; }
form.formtastic fieldset ol li li label input { line-height:100%; vertical-align:middle; margin-top:-0.1em;}


/* NESTED FIELDSETS AND LEGENDS (radio, check boxes and date/time inputs use nested fieldsets)
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li fieldset { position:relative; }
form.formtastic fieldset ol li fieldset legend { position:absolute; width:25%; padding-top:0.1em; }
form.formtastic fieldset ol li fieldset legend span { position:absolute; }
form.formtastic fieldset ol li fieldset ol { float:left; width:74%; margin:0; padding:0 0 0 25%; }
form.formtastic fieldset ol li fieldset ol li { padding:0; border:0; }


/* INLINE HINTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li p.inline-hints { color:#666; margin:0.5em 0 0 25%; }


/* INLINE ERRORS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li p.inline-errors { color:#cc0000; margin:0.5em 0 0 25%; }
form.formtastic fieldset ol li ul.errors { color:#cc0000; margin:0.5em 0 0 25%; list-style:square; }
form.formtastic fieldset ol li ul.errors li { padding:0; border:none; display:list-item; }


/* STRING & NUMERIC OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.string input { width:74%; }
form.formtastic fieldset ol li.password input { width:74%; }
form.formtastic fieldset ol li.numeric input { width:74%; }


/* TEXTAREA OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.text textarea { width:74%; }


/* HIDDEN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.hidden { display:none; }


/* BOOLEAN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.boolean label { padding-left:25%; width:auto; }
form.formtastic fieldset ol li.boolean label input { margin:0 0.5em 0 0.2em; }


/* RADIO OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.radio { }
form.formtastic fieldset ol li.radio fieldset ol { margin-bottom:-0.6em; }
form.formtastic fieldset ol li.radio fieldset ol li { margin:0.1em 0 0.5em 0; }
form.formtastic fieldset ol li.radio fieldset ol li label { float:none; width:100%; }
form.formtastic fieldset ol li.radio fieldset ol li label input { margin-right:0.2em; }


/* CHECK BOXES (COLLECTION) OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.check_boxes { }
form.formtastic fieldset ol li.check_boxes fieldset ol { margin-bottom:-0.6em; }
form.formtastic fieldset ol li.check_boxes fieldset ol li { margin:0.1em 0 0.5em 0; }
form.formtastic fieldset ol li.check_boxes fieldset ol li label { float:none; width:100%; }
form.formtastic fieldset ol li.check_boxes fieldset ol li label input { margin-right:0.2em; }



/* DATE & TIME OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.date fieldset ol li,
form.formtastic fieldset ol li.time fieldset ol li,
form.formtastic fieldset ol li.datetime fieldset ol li { float:left; width:auto; margin:0 .3em 0 0; }

form.formtastic fieldset ol li.date fieldset ol li label,
form.formtastic fieldset ol li.time fieldset ol li label,
form.formtastic fieldset ol li.datetime fieldset ol li label { display:none; }

form.formtastic fieldset ol li.date fieldset ol li label input, 
form.formtastic fieldset ol li.time fieldset ol li label input, 
form.formtastic fieldset ol li.datetime fieldset ol li label input { display:inline; margin:0; padding:0;  }




/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

html[xmlns] form.formtastic fieldset { display: block; }

html[xmlns] form.formtastic fieldset ol li { display: block; }

div.textile-toolbar span.ed_sep {
	xposition: relative;
	xtop: -4px;
  padding: 0;
  height: 6px;
  width: 2px;
  margin: 0 2px;
  border-left: solid 1px #d5d5d5;
  border-right: solid 1px #f5f5f5;
}

div.textile-toolbar button {
	margin: 0;
	background-color: #f0f0ee;
	background-repeat: no-repeat;
	border: 1px solid #f0f0ee;
	padding: 2px 0;
}

div.textile-toolbar button.standard {
	text-align: center;
	width: 24px;
}

div.textile-toolbar button img {
	vertical-align: text-bottom;
}

div.textile-toolbar button:hover, 
div.textile-toolbar button.unselected:hover {
	border: 1px solid #999;
}

div.textile-toolbar button.selected {
	border: 1px solid #ce9100;
	background-color: #ffffff;
}

div.textile-toolbar button.unselected {
	border: 1px solid #f0f0ee;
	background-color: #f0f0ee;
}

div.textile-toolbar button.publish {
	padding:5px;
	display:block;
}

div.textile-toolbar {
	background-color: #f0f0ee;
	padding: 3px;
	margin-bottom: 4px;
}