<div class='posting_short'>
    
  <!-- HEADER / SUBJECT AND LINKS -->
  <%= render :partial => '/postings/posting_header', :locals => { :posting => posting } -%>
  
  
  <!-- INTERPRETED, TRUNCATED BODY -->
  <div class='body_text'>
    <%= posting.body.first_paragraph.to_txt -%>
    
    <% if current_user || posting.comments.any? %> 
      <small>
        <% label_txt = posting.comments.any? ? t(:count_comments, :count => posting.comments.size) : t(:add_a_comment) %>
        <%= COMMENT_HAND -%> <%= link_to label_txt, posting_path(posting) + "#comments" -%>
      </small>
    <% end %>
    
  </div>
  <div style='clear:left;height:0px;'></div>
  
</div>