<div class='posting_short'>
    
  <!-- HEADER / SUBJECT AND LINKS -->
  <%= render :partial => '/postings/posting_header', :locals => { :posting => posting } -%>
  
  
  <!-- INTERPRETED, TRUNCATED BODY -->
  <%= textilize(truncate(
     posting.body.gsub(/[&><]/) { |special| { '&' => '&amp;', '>' => '&gt;', '<' => '&lt;', '"' => '&quot;' }[special] }, 
     :length => 250, 
     :omission => " ... #{link_to t(:read_more), posting}"))
  -%>
  
  
</div>