<div class='posting_short'>
    
  <!-- HEADER / SUBJECT AND LINKS -->
  <%= render :partial => '/postings/posting_header', :locals => { :posting => posting } -%>
  
  
  <!-- INTERPRETED, TRUNCATED BODY -->
  <div class='body_text'>
    <%= textilize(truncate(
          posting.body.gsub(/[&><]/) { |special| { '>' => '&gt;', '<' => '&lt;', '"' => '&quot;' }[special] }, 
          :length => DEFAULT_TRUNCATED_BODY_LENGTH, 
          :omission => " ... #{link_to CAN_OPEN+NBSP+t(:read_more), posting}")
        )
    -%>
  </div>
  <div style='clear:left;'></div>
  
</div>