<%- if params[:category_id] -%>
  <%- title( t(:postings_in_category, :category => @category.name ) ) -%>
<%- else -%>
  <%- title "Postings" -%>
<%- end -%>

<%= will_paginate @postings -%>

<% for posting in @postings %>
  <div class='posting'>
    <%= render :partial => 'posting_short', :locals => { :posting => posting } %>
    <%= CAN_OPEN+NBSP+link_to(t(:read_txt), posting) if posting.body.strip.split("\n").length > 1 -%>
  </div>
  <div class='horiz_break'></div>
<% end %>


<%= will_paginate @postings -%>

<div style='clear:both;'></div>