<%- if params[:category_id] -%>
  <%- title( t(:postings_in_category, :category => @category.name ) ) -%>
<%- else -%>
  <%- title "Postings" -%>
<%- end -%>

<%= render :partial => '/postings/searchbox' -%>

<%= will_paginate @postings -%>

<% for posting in @postings %>
  <%= render :partial => 'posting_short', :locals => { :posting => posting } %>
<% end %>

<%= will_paginate @postings -%>

<div style='clear:both;'></div>