<% title t(:posting) %>

<div class='posting'>
  <%= render :partial => 'posting_header', :locals => { :posting => @posting } %>
  <%= textilize(@posting.body.gsub(/[&><]/) { |special| { '&' => '&amp;', '>' => '&gt;', '<' => '&lt;', '"' => '&quot;' }[special] }) -%>
  <p><%= link_to t(:view_all), postings_path -%></p>
</div>