<% title "Welcome" %>

<p>
    This is a developer installation of iBoard 4. Don't expect any usefull content here.
</p>

<p>
    iBoard 4 can be found at <%= link_to 'Github', 'http://github.com/iboard/ib4', :target => :blank -%>
</p>

<hr>

<h1>Development History</h1>

<dt><strong>2009-09-28</strong> Authlogic & SearchLogic</dt>
<dd><br/>
    Today's snapshot handles users with authlogic and implements searchlogic for user-index.
    <br/>
    <br/>
    <b>Working features are:</b>
    <ul>
        <li>Register new account</li>
        <li>Reset Password</li>
        <li>current_user.is_admin? (true when username=='root')</li>
        <li>Edit Profile for users</li>
        <li>List, edit, destroy users when admin</li>
    </ul>
    <b>State:</b>
    <ul>
        <li>Clean source</li>
        <li>Everything there is working.</li>
    </ul>
</dd>