<%- title( "TAG - #{@tagname}") -%>
<%= render :partial => '/postings/searchbox' -%>

<% @tagables.reject {|r| !r.read_allowed?(current_user) }.each do |tagable| %>
  <%= render :partial => "/#{tagable.class.to_s.pluralize.downcase}/#{tagable.class.to_s.downcase}_short", :locals => { tagable.class.to_s.downcase.to_sym => tagable } %>
<% end %>

<div style='clear:both;'></div>