<p>
  <%= hidden_field_tag "#{permalink.linkable.class.to_s.downcase}[permalink_ids][]", permalink.id -%>
  <%= link_to(
        ((request.env['SERVER_PORT'] == "80") ? "http://" : "https://")+
        request.env['SERVER_NAME'] + 
        "/" +  permalink.url, 
        "/"+permalink.url 
      )
   -%>
  <% if is_owner_or_admin?(permalink.linkable) %>
    <%= link_to BACKSPACE_CHAR, permalink_path(permalink), :method => 'delete', :confirm => t(:are_you_sure, :what => t(:delete_a_permalink)), :title => t(:delete) -%>
  <% end %>
</p>
