<span style='font-size: 10px;'>
  <%= link_to(
        (request.ssl? ? "https://" : "http://")+
        request.server_name + 
        "/" +  permalink.url, 
        "/"+permalink.url 
      )
   -%>
   <% if @controller.request[:action] == 'edit' && is_owner_or_admin?(permalink.linkable)  %>
       <%= hidden_field_tag "#{permalink.linkable.class.to_s.downcase}[permalink_ids][]", permalink.id -%>
       <%= link_to BACKSPACE_CHAR, permalink_path(permalink), 
         :method => 'delete', 
         :confirm => t(:are_you_sure, :what => t(:delete_a_permalink)), :title => t(:delete) 
       -%>
   <% end %>
</span>
