<div class='user_menu'>
<%= USER_MENU_ITEMS.map { |item|
     l=t(item[:label].to_s.downcase)
     l = "<span class='user_menu_selected_url'>#{l}</span>" if request.request_uri.eql?(item[:url])
     link_to(l, item[:url])
   }.join(NBSP+"|"+NBSP)
-%>
</div>